@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #eef0f0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.title{
    margin-left: 100px;
}
.encabezado{
    color: #eef0f0;
    margin-left: 30%;
    list-style: left;
    display: inline-block;
    padding:18px;

    
}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a:hover{
    background-color: #929fb3;
  }
  
.imagehead{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 2700px;
     overflow: hidden;
    background-color: #0d0d0e;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600;
    max-height: 800;
    position: relative;
}

.nav{
    --padding-container: 0;
    
}
.encuesta{
    margin-left: 130px;
    
}

.preguntas{
    margin-left: -30px;
}
.button {
    /* Alinear los botones con los campos de texto */
    
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  


  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
       color: #6596E6;
        margin-left: .5em;
  }